@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Display", sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: hsl(225, 100%, 94%);
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
}

.container{
    width: 450px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 1rem;
}

.svg-back{
    width: 100%;
    max-height: 225px;
    height: auto;
}
.svg-back > img{
    width: 100%;
    height: 100%;
}

.details-price{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
}
.details-price > :not(:last-child){
    margin-bottom: 2rem;
}

h2{
    font-weight: 900;
    font-size: 1.2rem;
    color: hsl(223, 47%, 23%);
}

p{
    text-align: center;
    font-size: 1rem;
    color: hsl(224, 23%, 55%);
    font-weight: 500;
}

.container2{
    background-color: hsl(225, 100%, 98%);
    border-radius: 1rem;
    padding: 1.2rem;
    width: calc(100% - 6rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-music-plan-price{
    display: flex;
}

.img-music{
    margin-right: 14px;
}

.anual-plan{
    font-weight: 700;
    color: hsl(223, 47%, 23%);
}

.price{
    margin-top: 3px;
    font-weight: 500;
    color: hsl(224, 23%, 55%);
}

button{
    background: none;
    border: none;
}

.change{
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
    color: hsl(245, 75%, 52%);
    text-decoration: underline;
    margin-left: 10px;
}

.payment-process{
    background-color: hsl(245, 75%, 52%);
    text-align: center;
    border-radius: 1rem;
    width: calc(100% - 4rem);
    color: hsl(225, 100%, 98%);
    padding: 1rem;
    font-weight: 700;
    cursor: pointer;
    font-size: 1rem;
    transition: transform 0.25s linear;
}
.payment-process:hover{
    transform: scale(1.05);
}

.cancel-order{
    text-align: center;
    color: hsl(224, 23%, 55%);
    font-weight: 700;
    cursor: pointer;
    font-size: 1rem;
    transition: color 0.25s linear;
}
.cancel-order:hover{
    color: hsl(245, 75%, 52%);
}


@media (max-width: 550px){
    body{
        height: 105vh;
    }
    .container{
        width: calc(100% - 4rem);
    }
}
@media (max-width: 480px){
    .container2{
        align-items: center;
        flex-direction: column;
        padding: 1rem;
    }
    .change{
        margin-left: 0;
        margin-top: 5px;
    }
    .details-price > :not(:last-child){
        margin-bottom: 1rem;
    }
    .details-price{
        padding: 1rem;
    }
}
@media (max-width: 400px){
    .container2{
        width: calc(100% - 5rem);
    }
    .container-music-plan-price{
        flex-direction: column;
        align-items: center;
    }
    .img-music{
        margin-right: 0;
    }
    .payment-process{
        width: calc(100% - 3rem);
    }
}
@media (max-width: 330px){
    .container{
        width: calc(100% - 3rem);
    }
}
